@font-face{
    font-family: ITC;
    src: url('font/ITC Avant Garde Gothic Medium.otf')
}
@font-face{
    font-family: ITCbook;
    src: url('font/itc-avant-garde-gothic-std-book.otf')
}
body{
    font-family: ITC;
    letter-spacing: 1px;
}
.white{
    color: white;
}
p{
    color: #383838;
}
#brand{
    height: 55px;
}
.navbar-default{
    border-radius: 0px;
    background: white;
    box-shadow: none;
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: transparent;
}
.navbar-nav>li>a{
    padding-right: 30px;
    font-size: 18px;
}
.navbar-brand{
    padding: 7px;
}
.btn.btn-default.navbar-btn{
    background: #0088ff;
    color: white;
    text-shadow: none;
    border-color: white;
    box-shadow: none;
    font-size: 18px;
    padding: 8px 25px 8px 25px;
}

.btn.btn-default.navbar-btn:hover{
    background: #ffffff;
    color: #0088ff;
    border-color: #0088ff;
}

.nav.navbar-nav.navbar-right{
    background-color: white;
}
.nav.navbar-nav.navbar-right>li>a{
    color:#003d7c;
}

.nav.navbar-nav.navbar-right>li>a:hover{
    color:#0088ff;
}
#bg1{
    background: url('img/bg1.jpg') center no-repeat;
    min-height: 700px;
    background-size: 2000px 1200px;
    width: auto;
}
h1{
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 23px;
    box-sizing: border-box;
}
p{
    color: white;
    font-size: 19px;
    font-family: ITCbook;
}
#platform1{
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.btn.btn-primary{
    background: #0088ff;
    color: white;
    text-shadow: none;
    border: none;
    box-shadow: none;
    padding: 14px 20px 14px 20px;
    font-size: 15px;
    margin-bottom: 40px;
}
#center{
    text-align: center;
    margin: auto;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: #0088ff;
    text-align: center;
    font-style: italic;
}
.carousel-detail{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
}
.carousel-inner>.item{
    backface-visibility: unset;
}
.carousel-control.right{
    background: none;
}
.carousel-control.left{
    background: none;
}
/* .left.carousel-control.control-app-left{
    background: url(../../bundles/bkcore/assets/img/icon/icon-control.png) -50px 0 no-repeat;
    width: 23px;
    height: 42px;
    margin-top: -21px;
    margin-left: -12px;
} */
.bg-iphone{
    margin-top: 50px;
    background: url('img/bg-iphone.png') 0 0 no-repeat;
    min-height: 470px;
    min-width: 225px;
    /* width: 225px;  */  
    top: 200px;
    /* top: 100%; */
    /* bottom: auto; */
    margin-left: 75px;
    right: 50%;
    left: 50%;
    background-size: 225px 470px;
    /* box-sizing: border-box; */
}
/* #iphone{
} */
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    max-width: 73%;
    margin-top: 50px;
    margin-left: 14px;
}
#help{
    font-family: ITC;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    color: #333333;
    text-align: center;
}
.bg-gray{
    background-color: #ececec;
    padding-top: 30px;
    background-size: cover;
}
h2{
    font: 35px 'ITCbook', sans-serif;
    color: #383838;
    margin: 20px 0 0 0;
    text-align: center;
}
h3{
    text-align: center;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
}
#play{
    margin-top: 15px;
    color: #0088ff;
    text-align: center;
    font: 18px 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.glyphicon-play-circle{
    vertical-align: middle;
    top: -3px;
    font-size: 30px;
}
.h3-detail{
    color: #383838;
    font-family: 'Open Sans', sans-serif;
    font-size: 14.5px;
    text-align: justify;
    text-align-last: center;
    margin: 0 20px 20px 20px;
    line-height: 1.5em;
    letter-spacing: 1px;
}
h5{
    font-family: 'ITC', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #383838;
    padding-bottom: 15px;
}
.product{
    background-color: #ececec;
}
.product-detail{
    color: #383838;
    font-size: 12px;
}
.app-img{
    padding-top: 12px;
    width: 100px;
    height: auto;
}
h6{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'ITCbook', sans-serif;
    color: #383838;
    text-align: center;
}
.carousel-caption>p{
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    text-shadow: none;
}
.carousel-caption>p>span{
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #0088ff;
    text-shadow: none;
}
.carousel-caption>p>a{
    color: #1ac6ff;
}
#myCarousel{
    height: 600px; 
    margin: 0 auto;
}
.carousel{
    position: relative;
}
#feedback{
    height: 700px;
}
.sth{
    position: absolute;
    bottom: -450px;
}
.carousel-indicators{
    position: absolute;
    bottom: -20px;
}
.carousel-indicators li {
    background-color: #8f8f8f;
}
.carousel-indicators .active {
    background-color: #0088ff;
}
.feedback-logo{
    padding-left: 100px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: red;
}
.glyphicon.glyphicon-menu-left{
    top: 300px;
}
.glyphicon.glyphicon-menu-right{
    top: 300px;
}
.carousel-control{
    font-size: 30px;
    color: #0088ff;
    text-shadow: 0 2px 2px rgb(0, 136, 255);
}
.feature{
    padding-top: 20px;
    font-size: 27px;
    font-family: 'ITC';
    padding-bottom: 40px;
}
.pb-5{
    padding-bottom: 50px;
}
#platform{
    padding-top: 20px;
    color: #383838;
    text-align: center;
    font-size: 17px;
    line-height: 1.2em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: auto;
    padding-bottom: 50px;
}
.bg-dark-gray{
    background-color: #e7eaee;
    background-size: cover;
}
.grow{
    color: #383838;
    padding-top: 60px;
    margin: 0 10px 20px 10px;
    font-size: 30px;
    font-family: 'ITC';
    text-align: center;
    
}
.grow-detail{
    color: #383838;
    font-size: 13px;
    text-align: center;
    padding: 0 10px 0 10px;
    margin: 0;
}
.card{
    margin-top: 60px;
    border: #cccccc 1px solid;
    border-radius: 10px;
    padding-bottom: 0px;
    letter-spacing: 1;
    text-align: center;
}
.card>div>p{
    color: #383838;
    font-size: 13px;
}
.card>div>h6{
    font-size: 21px;
}
.bg-footer{
    background: url('img/bg-cover-footer.jpg') no-repeat;
    background-size: cover;
    min-height: 400px;
    width: auto;
    position: absolute;
}
.sale-increase{
    padding: 80px 10px 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.sale-detail{
    font-size: 14px;
    text-align: center;
    padding: 0 10px 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.btn-pink{
    color: white;
    background-color: #fb1ca4;
    border-radius: 6px;
    border-color: transparent;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 30px 15px 30px;
    margin-top: 30px;
}
#customer>div>div>img{
    margin: 0 auto;
}
@media (min-width: 768px){
    .bg-iphone{
        position: relative;
        margin: 0 auto;
        top: 20px;
        left: 280px;
    }
    #bg1{
        height: 700px;
        width: auto;
    }
    #feedback>div>img{
        width: 200px;
        height: auto;
        margin: 0 auto;
        vertical-align: middle;
        padding-top: 100px;
    }
    #iphone-slider>div>img{
        width: 195px;
    }
    
    #section2{
        margin-top: 200px;
    }
    .btn.btn-default.navbar-btn, .nav.navbar-nav.navbar-right>li>a{
        margin-top: 20px;
    }
    .feedback-logo{
        top: unset;
        margin: 0 auto;
        padding-left: unset;
    }
    .carousel-inner>.item{
        margin: 0 auto;
    }
    .feedback>.item{
        margin: 0 auto;
    }
    .carousel-indicators{
        bottom: -70px;
    }
    .card{
        margin-top: 0px;
        border: none;
    }
    .app-img{
        margin: 20px 0 0 60px;
        border-radius: 10px;
    }
    .product-detail{
        margin-right: 20px;
    }
    /* .container{
        width: unset;
    } */
}
@media (min-width: 1023px) {
    #brand{
        height: 70px;
    }
    .bg-iphone{
        left: 405px;
    }
    .app-img{
        width: 150px;
        height: auto;
        left: 40px;
        padding: 0 0 0 40px;
    }
    h1{
        padding-top: 80px;
        font-size: 40px;
    }
    #bg1>.container>.row>div>h1, #bg1>.container>.row>div>p{
        text-align: left;
    }
    #bg1>.container>.row>div>p{
        font-size: 40px;
    }
    #bg1>.container>.row>div>div>button{
        margin: 0;
        text-align: left;
    }
    #center{
        text-align: left;
    }
    #platform1{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        text-align: left;
        margin: 70px 0 20px 0;
        letter-spacing: 0;
        
    }
    .bg-iphone{
        position: absolute;
        min-width: 1000px;
        min-height: 900px;
        height: auto;
        top: 60px;
        left: 880px;
        background-size: 350px auto;
    }
    #iphone-slider>div>img{
        min-width: 320px;
        margin-top: 70px;
    }
    #name-apps{
        margin-top: 190px;
        
    }
    #section2{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    h2{
        font-size: 60px;
    }
    #play{
        font-size: 20px;
        font-family: 'ITC';
    }
    #bg-track{
        margin: 50px 0 0 200px;
    }
    .col-xs-12.col-md-6.bg-gray{
        margin: 150px 0;
    }
    h3{
        font-size: 30px;
        text-align: left;
        margin-right: 200px
    }
    .h3-detail{
        text-align: left;
        margin-right: 200px;
        text-align-last: left;
        letter-spacing: 0;
        font-size: 18px;
    }
    #analyze{
        background-color: white;
    }
    #analyze>.bg-gray{
        background-color: white;
    }
    #analyze>div>.h3-detail{
        text-align: right;
        text-align-last: right;
        margin-right: 50px;
        margin-left: 200px;
    }
    #analyze>div>h3{
        text-align: right;
        text-align-last: right;
        margin-right: 50px;
    }
    #analyze>div>img{
        margin-right: 300px;
    }
    .col-xs-12.col-md-12.bg-gray>h3, .col-xs-12.col-md-12.bg-gray>p{
        text-align-last: center;
        margin-right: 300px;
        margin-left: 300px;
    }
    .col-xs-12.col-md-12.bg-gray>p{
        margin-right: 400px;
        margin-left: 400px;
        margin-top: 20px;
        font-size: 16px;
    }
    .br-hidden{
        display: none;
    }
    #grow-business{
        margin-top: 0px;
        margin-bottom: 50px;
        font-family: 'ITC', sans-serif;
    }
    .grow-detail{
        font-family: 'ITC';
        letter-spacing: 0.5;
        font-size: 14px;
    }
    h6{
        font-family: 'ITC', sans-serif;
    }
    .card>div>p{
        font-family: 'ITC', sans-serif;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .card{
        border: #cccccc 1px solid;
        margin-top: 50px;
    }
}
